<div class = 'container'>
    <h2 class = "contact" align = 'center'>Sign Up with Victoria U </h2>
  <div class = 'signupform'>
    <div class = 'formbox'>
  <%= form_for(resource, as: resource_name, url: sessions_path(resource_name), html: { method: :post }) do |f| %>

        <%= devise_error_messages! %>
            <div>
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
            </div>

              <div>
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
            </div>

            <div>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div>
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div>
              <%= f.label :phone_number %><br />
              <%= f.number_field :phone_number, autocomplete: "phone number" %>
            </div>


            <div>
              <%= f.label :Age %><br />
              <%= f.number_field :Age, autocomplete: "age" %>
            </div>

            <div>
                <%= f.label :Address %> <br />
                <%= f.text_field :address, autocomplete: 'Please Provide Your Home Address Here' %>
            </div>


            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
        </div>
          <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>

<%# Rest of devise forms go here required:name, telephone, age, address, email, state of origin are all mandatory fields %>
<%# Stuff not manditory but going into the signup form (mark it with an astrisk that it isn't manditory or whatever is alternativly)%>
