
<%= form_with model: @event, local: true do |f| %>
  <%if user_signed_in?%>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@event.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @events.errors.full_messages.each do |msg|%>
            <li> <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
        <%= f.label :title%><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p>

    <p>
        <%= f.label :url %> <br>
        <%= f.text_field :url %>
    </p>

      <%= f.fields_for :picture do |f| %>

      <p>
        <%= f.label :name  %><br>
        <%= f.text_field :name %>
      </p>

      <p>
        <%=f.label :url %>
        <%=f.text_field :url %>
      </p>
<%# /events/:event_id/pictures/new(.:format)           pictures#new %>
      <% end %>
    <% end %>
    </p>

    <P>
      <% if user_signed_in? %>
        <button class = "submit"> <%= f.submit %> </button>
      <% end %>
    </p>

    <p>
      <% unless user_signed_in? %>
        <h2> 404 NOT FOUND </h2>
      <% end %>
    </p>
  <% end %>