
<%= form_with model: @event, local: true do |form| %>
  <%if user_signed_in? %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@event.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @events.errors.full_messages.each do |msg|%>
            <li> <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
        <%= form.label :title%><br>
        <%= form.text_field :title %>
    </p>


    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
    </p>

    <p>
          <%= form.label :url %> <br>
          <%= form.text_field :url %>
    </p>



  <p>
      <% form.fields_for :picture do |form| %>
          <%= form.label :picture  %><br>
          <%= form.text_area :picture %>


      <% end %>
    <% end %>
    </p>

    <P>
      <% if user_signed_in? %>
        <button class = "submit"> <%= form.submit %> </button>
      <% end %>
    </p>

    <p>
      <% unless user_signed_in? %>
        <h2> 404 NOT FOUND </h2>
      <% end %>
    </p>
  <% end %>