<% if user_signed_in? %>
  <div class = "admincreate">
    <% if user_signed_in? %>
      <p> <button type="button" class="btn btn-primary"><%= link_to 'New event' , new_event_path(@events)%> </button> </p>
  </div>
<% end %>


<table>
  <tr>
    <th>Title:</th>
    <th>Url:</th>
    <th>Body: </th>
    <th colspan="2"></th>
  </tr>


    <% @events.each do |event| %>
      <tr>
        <td class = "eventtitle"><%= event.title%> </td>
        <td class = "eventurl"><%= event.url%> </td>
        <td class = "eventbody"><%= event.body%>  </td>
      
      <% if user_signed_in? %>
        <div class =".btn-group-xs">
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Show', event_path(event) %> </button>  </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_event_path(event) %> </button> </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Delete',event_path(event),
                      method: :delete,
                      data: { confirm: 'Are you sure?'} %> </button></td>
        </div>
      </tr>
      <% end %>
    <% end %>
  <% end %>


</table>

