<% if user_signed_in? %>
  <div class = "admincreate">
    <% if user_signed_in? %>
      <p> <button type="button" class="btn btn-primary"><%= link_to 'New event' , new_event_path(@events)%> </button> </p>
  </div>
<% end %>
<% end %>

<%# TO DO ODD AND EVEN - change @events.each do |event| to @events.each.with_index do |event,index|   %>
<%# if index.odd  & an else statement should fix the issue %>

<% @events.each do |event| %>
<% if current_user.try(:admin?) %>
        <div class =".btn-group-xs">
            <button type="button" class="btn btn-primary"><%= link_to 'Show', event_path(event) %> </button>
            <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_event_path(event) %> </button>
            <button type="button" class="btn btn-primary"><%= link_to 'Delete',event_path(event),
                      method: :delete,
                      data: { confirm: 'Are you sure?'} %> </button></td>
        </div>
</table>
<%end %>
<%end%>


<% @events.each.with_index do |event,index| %>


  <% if index.odd?%>
    <div class="container">
      <div class="content-overlap">
        <h1 class = "eventtitle" > <%= event.title %> </h1>
          <p class = "eventbody"> <%= event.body %> </p>
      </div>
    <div class="image-overlap">
      <%= image_tag event.event_picture.url %>
    </div>
  </div>
<br>

  <% else %>
    <div class="container">
      <div class="content-overlap-right">
        <h1 class = "eventtitle" > <%= event.title %> </h1>
          <p class = "eventbody"> <%= event.body %> </p>
      </div>
    <div class="image-overlap-right">
      <%= image_tag event.event_picture.url %>
    </div>
  </div>
<br>
  <% end %>
<%end %>
