<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<p class = "titlebox">
    <b> Title:</b>
    <%= @event.title %>
</p>

<p class = "linkbox">
    <b> url: </b>
    <%= @event.url %>
</p>

<p class = 'bodybox'>
    <b> body: </b>
    <%= @event.body %>
</p>

<%= link_to 'Back', events_path %>

    <p>
        <% unless user_signed_in? %>
        <h2> 404 NOT FOUND </h2>
        <% end %>
    </p>

<%#<p><%= @post.place.address %>