<p class = "titlebox">
    <b> Title:</b>
    <%= @event.title %>
</p>

<p class = "linkbox">
    <b> url: </b>
    <%= @event.url %>
</p>

<p class = 'bodybox'>
    <b> body: </b>
    <%= @event.body %>
</p>

<p class = 'eventimage'>
    <b> Picture: </b>
    <%= image_tag @event.event_picture.url %>
</p>

<%= link_to 'Back', events_path %>

    <p>
        <% unless user_signed_in? %>
        <h2> 404 NOT FOUND </h2>
        <% end %>
    </p>

<%#<p><%= @post.place.address %>


<%# why does @event.evenpicture.url required here but not in index ? is it because in index its already %>