<%= form_with model: @teacher, local: true do |form| %>

  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teacher.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <% if user_signed_in? %>
        <%= form.label :name%><br>
    <% end %>
        <%= form.text_field :name %>
  </p>

  <p>
    <% if user_signed_in? %>
      <%= form.label :title %> <br>
    <% end %>
      <%= form.text_field :title %>
  </p>

  <p>
    <% if user_signed_in? %>
      <%= form.label :body %><br>
    <% end %>
      <%= form.text_area :body %>
  </p>


  <p>
    <% if user_signed_in? %>
      <%= form.file_field :picture %><br>
    <% end %>
      <%= form.text_area :picture %>
  </p>


  <p>
      <button class = "submit"> Add Staff Member <%= form.submit %> </button>
  </p>



<% end %>