<%= form_with model: @teacher, local: true do |form| %>

  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teacher.errors.count, "error") %>
          prohibited this article from being saved:
      </h2>
      <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <% if user_signed_in? %>
        <%= form.label :name%><br>
        <%= form.text_field :name %>
    <% end %>
  </p>

  <p>
    <% if user_signed_in? %>
      <%= form.label :title %> <br>
      <%= form.text_field :title %>
    <% end %>
  </p>

  <p>
    <% if user_signed_in? %>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    <% end %>
  </p>

  <% form.fields_for :picture do |form| %>
    <% if user_signed_in? %>
      <%= form.label :picture  %><br>
      <%= form.text_area :picture %>
    <% end %>

  <p>

    <% if user_signed_in? %>
      <%= form.label :url %> <br>
      <%= form.text_field :url %>
    <% end %>
  <% end %>
  </p>


  <p>
    <% if user_signed_in? %>
      <button class = "submit"><%= form.submit %> </button>
    <% end %>
  </p>
<% end %>