<%# This code is whew yomis uploaded teachers go -> I.e The types what he wants and then it automatically gets added to the website-this is the part where the visitor can see it %>
<%= render :partial => "teachers/teacher_admin_panel" %>
    <% @teachers.each do |teacher| %>
      <tr>
        <%# <td class = "teacherpicture"><%=teacher.picture%>
        <td class = "teachername"><%= teacher.name%> </td>
        <td class = "teachertitle"><%= teacher.title%> </td>
        <td class = "teacherbody"><%= teacher.body%>  </td>

<%#The below ruby code allows Yomi to add / edit / delete faculty - consider putting it in a custom sticky footer at the bottom so he can just add at any time when the browser is over it %>
ype="button" class="btn btn-primary"><%= link_to 'Edit', edit_event_path(event)
      <% if user_signed_in? %>
        <div class =".btn-group-xs">
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Show', teacher_path(teacher) %> </button>  </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_teacher_path(teacher) %> </button> </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Delete',teacher_path(teacher),
                      method: :delete,
                      data: { confirm: 'Are you sure?'} %> </button></td>
        </div>
      </tr>
      <% end %>
    <% end %>
<%# if you want to move the add edit delete functionality you would grab the code between this and the comment before it. %>
   <div class="container  ">
    <div class="row">
    <div class="col-sm-8">
          <div class="tranbox ">
            <h1 class="headings animated fadeInUp"> VISION</h1>
              <p class="botext animated fadeInDown">To create a path to impact by offering competitive skills for national development and significant global participation.</p>
          </div>

    </div>
    <div class="col-sm-4 img">
      <img src="assets\vision.JPG" class="img-responsive" >
    </div>
  </div>
  </div>

  <div class="container ">
  <div class="row">

  <div class="col-sm-4 img ">
  <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" class="img-responsive ">
  </div>

  <div class="col-sm-8">
          <div class="tranbox ">
          <h1 class="headings animated fadeInUp"> STORY</h1>

          <p class="botext animated fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque facere quis, molestias dicta! Quidem ullam, dolore assumenda, iste laborum debitis inventore sequi magnam eos tempore recusandae laudantium dignissimos voluptates.Perferendis illo eius provident rem consequatur, sequi eos nulla sit nihil alias sapiente, dolorum natus laboriosam harum consectetur maxime facilis, ipsam commodi</p>
          </div>
  </div>


  </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="container ">
  <div class="row">
  <div class="col-sm-8">
        <div class="tranbox ">
                   <h1 class="headings animated fadeInUp"> LEADERS</h1>
                    <p class="botext animated fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque facere quis, molestias dicta! Quidem ullam, dolore assumenda, iste laborum debitis inventore sequi magnam eos tempore recusandae laudantium dignissimos voluptates.Perferendis illo eius provident rem consequatur, sequi eos nulla sit nihil alias sapiente, dolorum natus laboriosam harum consectetur maxime facilis, ipsam commodi</p>
        </div>

  </div>
  <div class="col-sm-4 img">
     <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" class="img-responsive" >
  </div>
  </div>
  </div>


  <br><br><br><br><br><br><br><br><br>


<div class="container">
    <div class="col-sm-4">
        <div class="card" style="width:400px">
        <img class="card-img-top" src="assets\yomi.JPG" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
    </div>
    </div>

    <div class="container">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <div class="card" style="width:400px">
        <img class="card-img-top" src="assets\nwojo.JPG" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
    </div>
    </div>

    <div class="container">
    <div class="col-sm-4">
        <div class="card" style="width:400px">
        <img class="card-img-top" src="assets\yomi.JPG" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
    </div>
    </div>







