<%# This code is whew yomis uploaded teachers go -> I.e The types what he wants and then it automatically gets added to the website-this is the part where the visitor can see it %>
<%= render :partial => "teachers/teacher_admin_panel" %>
    <% @teachers.each do |teacher| %>
      <tr>
        <%# <td class = "teacherpicture"><%=teacher.picture%>
        <td class = "teachername"><%= teacher.name%> </td>
        <td class = "teachertitle"><%= teacher.title%> </td>
        <td class = "teacherbody"><%= teacher.body%>  </td>

<%#The below ruby code allows Yomi to add / edit / delete faculty - consider putting it in a custom sticky footer at the bottom so he can just add at any time when the browser is over it %>
      <% if user_signed_in? %>
        <div class =".btn-group-xs">
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Show', teacher_path(teacher) %> </button>  </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_teacher_path(teacher) %> </button> </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Delete',teacher_path(teacher),
                      method: :delete,
                      data: { confirm: 'Are you sure?'} %> </button></td>
        </div>
      </tr>
      <% end %>
    <% end %>

<div class="container">
<div class="content-overlap-right">
  <h2 align="center">Our Vision:</h2>
  <br><br><br>
  <p> Yomi Olalere is the Founder and President, Ontario College of Management and Technology (OCMT), Toronto Canada, and primary promoter of Victoria University initiative. OCMT is an accredited and approved post-secondary and post-graduate institution by the Ministry of Training, Colleges and Universities. He is the Founder, Abaster Consulting Firm, Toronto. A seasoned Enterprise Management Strategy Expert, Yomi had a prior consulting experience Technology and Management space, having consulted for both public and private enterprises including Siemens Telecommunications, Bombardier Aerospace, IBM, Bearing Point (Now Deloitte), Treasury Board of Canada, Department of Justice Canada, Bank of Canada, Canada Border Services Agency, and many other multinational corporations. Yomi has background in Economics, Commerce and Law. He brings to the team strategic direction, objective setting, project execution, tertiary institution management, and leadership and people management skills.
  </p>
</div>
<div class="image-overlap">
  <img src="assets\vision.jpg" height="600" width="800">