
<% if user_signed_in? %>
  <div class = "teachercreate">
    <% if user_signed_in? %>
      <p> <button type="button" class="btn btn-primary"><%= link_to 'New staff member' , new_teacher_path(@teacher)%> </button> </p>
  </div>
<% end %>

      <% @teachers.each do |teacher| %>
      <tr>
        <%# <td class = "teacherpicture"><%=teacher.picture%> </td> #%>
        <td class = "teachername"><%= teacher.name%> </td>
        <td class = "teachertitle"><%= teacher.title%> </td>
        <td class = "teacherbody"><%= teacher.body%>  </td>

      <% if user_signed_in? %>
        <div class =".btn-group-xs">
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Show', teacher_path(teacher) %> </button>  </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_teacher_path(teacher) %> </button> </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Delete',teacher_path(teacher),
                      method: :delete,
                      data: { confirm: 'Are you sure?'} %> </button></td>
        </div>
      </tr>
      <% end %>
    <% end %>
  <% end %>

  <!DOCTYPE html>
  <html>
    <head>
      <title>Victoria</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Pen+Script" rel="stylesheet"  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  
    </head>
    <body>
   
    
    




    <div class="container  ">
    <div class="row">
    <div class="col-sm-8">
          <div class="tranbox ">
          <h1 class="headings animated fadeInUp"> VISION</h1>
          <p class="botext animated fadeInDown">To create a path to impact by offering competitive skills for national development and significant global participation.</p>
         </div>  
    
    </div>
    <div class="col-sm-4 img">
       <img src="assets\vision.JPG" class="img-responsive" >
    </div>
  </div>
  </div>
   
  <div class="container ">
  <div class="row">
  
  <div class="col-sm-4 img ">
  <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" class="img-responsive ">
  </div>
  
  <div class="col-sm-8">
          <div class="tranbox ">
          <h1 class="headings animated fadeInUp"> STORY</h1>
             
          <p class="botext animated fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque facere quis, molestias dicta! Quidem ullam, dolore assumenda, iste laborum debitis inventore sequi magnam eos tempore recusandae laudantium dignissimos voluptates.Perferendis illo eius provident rem consequatur, sequi eos nulla sit nihil alias sapiente, dolorum natus laboriosam harum consectetur maxime facilis, ipsam commodi</p>
          </div>  
  </div>
  
  
  </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="container ">
  <div class="row">
  <div class="col-sm-8">
        <div class="tranbox ">
                   <h1 class="headings animated fadeInUp"> LEADERS</h1>
                    <p class="botext animated fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque facere quis, molestias dicta! Quidem ullam, dolore assumenda, iste laborum debitis inventore sequi magnam eos tempore recusandae laudantium dignissimos voluptates.Perferendis illo eius provident rem consequatur, sequi eos nulla sit nihil alias sapiente, dolorum natus laboriosam harum consectetur maxime facilis, ipsam commodi</p>
        </div>  
  
  </div>
  <div class="col-sm-4 img">
     <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" class="img-responsive" >
  </div>
  </div>
  </div>
  

  <br><br><br><br><br><br><br><br><br>


<div class="container">
    <div class="col-sm-4">
        <div class="card" style="width:400px">
        <img class="card-img-top" src="assets\yomi.JPG" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
    </div>
    </div>

    <div class="container">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <div class="card" style="width:400px">
        <img class="card-img-top" src="assets\nwojo.JPG" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
    </div>
    </div>

    <div class="container">
    <div class="col-sm-4">
        <div class="card" style="width:400px">
        <img class="card-img-top" src="assets\yomi.JPG" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
    </div>
    </div>







