<%# This code is whew yomis uploaded teachers go -> I.e The types what he wants and then it automatically gets added to the website-this is the part where the visitor can see it %>
<%= render :partial => "teachers/teacher_admin_panel" %>
    <% @teachers.each do |teacher| %>
      <tr>
        <%# <td class = "teacherpicture"><%=teacher.picture%>
        <td class = "teachername"><%= teacher.name%> </td>
        <td class = "teachertitle"><%= teacher.title%> </td>
        <td class = "teacherbody"><%= teacher.body%>  </td>

<%#The below ruby code allows Yomi to add / edit / delete faculty - consider putting it in a custom sticky footer at the bottom so he can just add at any time when the browser is over it %>
      <% if user_signed_in? %>
        <div class =".btn-group-xs">
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Show', teacher_path(teacher) %> </button>  </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_teacher_path(teacher) %> </button> </td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Delete',teacher_path(teacher),
                      method: :delete,
                      data: { confirm: 'Are you sure?'} %> </button></td>
        </div>
      </tr>
      <% end %>
    <% end %>
<%# if you want to move the add edit delete functionality you would grab the code between this and the comment before it. %>
   
 
  

<div class="container">
<div class="content-overlap">
  <h2 align="center">VISION</h2>
  <br><br><br>
  <p>To create a path to impact by offering competitive skills for national development and significant global participation.
  </p>
</div>
<div class="image-overlap">
  <img src="assets\vision.jpg" height="600" width="800">
</div>
</div>
<br>
<br>
<div class="container">
<div class="content-overlap-right">
  <h2>STORY</h2>
  <p>More is definitely more. But when you’re planning a vacation, it can be hard to sift through all of the options for planning the perfect trip. With so many things to do in Colorado Springs and the Pikes Peak Region, there’s something for everyone. We’re here to help you curate that bucket list down to the best of the best.
  </p>
</div>
<div class="image-overlap-right">
<img src="assets\story.jpg" height="600" width="800" > 
</div>
</div>
<br>
<br>
<div class="container">
<div class="content-overlap">
<h2 align="center">LEADERS</h2>
<br><br><br>
<p>To create a path to impact by offering competitive skills for national development and significant global participation.
</p>
</div>
<div class="image-overlap">
<img src="assets\leaders.jpg" height="600" width="800">
</div>
</div>


<br><br><br><br><br><br><br><br><br>

<br><br><br><br><br><br><br><br><br>



<div class="container">
<div class="content-overlap-right">
  <h2>YOMI OLARARE</h2>
  <p>More is definitely more. But when you’re planning a vacation, it can be hard to sift through all of the options for planning the perfect trip. With so many things to do in Colorado Springs and the Pikes Peak Region, there’s something for everyone. We’re here to help you curate that bucket list down to the best of the best.
  </p>
</div>
<div class="image-overlap-right">
<img src="assets\yomi.JPG" width="800" height="1000" class="img-circle "> 
</div>
</div>





<div class="container">
<div class="col-sm-4 teacher">
    <div class="card" style="width:400px">
    <img class="card-img-top img-circle" src="assets\yomi.JPG" alt="Card image">
    <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    </div>
</div>
</div>

<div class="container">
<div class="col-sm-4"></div>
<div class="col-sm-4"></div>

<div class="col-sm-4">
      <div class="card" style="width:400px">
      <div class="card-body">
      <h4 class="card-title">Jane Doe</h4>
      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
</div>
<img class="card-img-bottom img-circle" src="assets\nwojo.JPG" alt="Card image" style="width:100%">
</div>
</div>
</div>
</div>

<div class="container">
<div class="col-sm-4">
    <div class="card" style="width:400px">
    <img class="card-img-top img-circle " src="assets\yomi.JPG" alt="Card image">
    <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    </div>
</div>
</div>










