<!DOCTYPE html>
<html>
  <head>
    <title>Victoria</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>


<%# RUBY CODE DO NOT TOUCH - NEEDED FOR DEVISE%>

<%# DO NOT TOUCH CODE RIGHT ABOVE THIS COMMENT IT IS CRITICAL FOR  DEVISE LOGIN -%>


<%# do not remove yield this is where the layout switches to the page it is in.%>


 <%if notice %>
  <p class= "alert alert_success"><%=notice %> </p>
<% end %>
<% if alert %>
  <p class ="alert alert-danger"> <%=alert %> </p>
<% end %>
<%= render :partial => "layouts/header" %>
<%= yield %>
<%= render :partial => "layouts/footer" %>
<%= render :partial => 'layouts/userpanel'%>

</html>








