<!DOCTYPE html>
<html>
  <head>
    <title>Victoria</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<body>


<%# RUBY CODE DO NOT TOUCH - NEEDED FOR DEVISE%>
<%if notice %>
  <p class= "alert alert_success"><%=notice %> </p>
<% end %>
<% if alert %>
<p class ="alert alert-danger"> <%=alert %> </p>
<% end %>
<%-# DO NOT TOUCH CODE RIGHT ABOVE THIS COMMENT IT IS CRITICAL FOR  DEVISE LOGIN -%>


<%# do not remove yield this is where the layout switches to the page it is in.%>
<%= yield %>
  
  
  </body>


</html>
