<!DOCTYPE html>
<html>
  <head>
    <title>Victoria</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application2', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=lato" rel="stylesheet">
    <%= favicon_link_tag asset_path('assets\images\favicon.ico'), :rel => 'icon', :type =>  'image/x-icon' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>

<%if notice %>
  <p class= "alert alert_success"><%=notice %> </p>
<% end %>
<% if alert %>
  <p class ="alert alert-danger"> <%=alert %> </p>
<% end %>

<%= render :partial => "layouts/admin_toolbar" %>

<% unless current_page?('/') %>
  <%= render :partial => "layouts/header" %>
 <% end %>

<%= render :partial => 'layouts/donate' %>


<%= yield %>

<%= render :partial => 'layouts/footer' %>
<%= render :partial => 'layouts/userpanel'%>
<%= render :partial => 'layouts/conversation_tabs'%>


<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>