<!DOCTYPE html>
<html>
  <head>
    <title>Victoria</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet"> 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

<%# do not remove yield this is where the layout switches to the page it is in.%>

<div class = "stickyproposal">
<%# provide ability to donate in a stick navbar here - connect it to the charges/new stripe controller%>
</div>

 <%if notice %>
  <p class= "alert alert_success"><%=notice %> </p>
<% end %>
<% if alert %>
  <p class ="alert alert-danger"> <%=alert %> </p>
<% end %>


<%= render :partial => "layouts/header" %>


<%= yield %>


<%= render :partial => 'layouts/footer' %>
<%= render :partial => 'layouts/userpanel'%>




</html>








