<!DOCTYPE html>
<html>
  <head>
    <title>Victoria</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

<%# Ruby code connected to successful login giving them the ability to see conversation stuff  if they are logged in. may need to change placement later for better look.%>
<nav class="navbar navbar-inverse bg-inverse">
   <a href='/academic'>Academic</a>
   <a href="/admission">Admission</a>
   <a href="/campus">Campus</a>
   <a href="/contact/">Contact</a>
   <a href="/news">News</a>
   <a href="/schools">Schools</a>
   <a href="/charges/new">Make an impact</a>
  <div class = "logins">
     <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
     <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
     <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
  <!-- Navbar content -->
</nav>

<p class="navbar-text pull-right">



<% if user_signed_in? %>
  <div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>
 
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @users.each do |user| %>
           <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>

<%# RUBY CODE DO NOT TOUCH - NEEDED FOR DEVISE%>
<%if notice %>
  <p class= "alert alert_success"><%=notice %> </p>
<% end %>
<% if alert %>
  <p class ="alert alert-danger"> <%=alert %> </p>
<% end %>
<%-# DO NOT TOUCH CODE RIGHT ABOVE THIS COMMENT IT IS CRITICAL FOR  DEVISE LOGIN -%>


<%# do not remove yield this is where the layout switches to the page it is in.%>
<%= yield %>
  
  
  </body>


</html>
